<strong>
  Olá, {{ user }}.
</strong>
<p>O status de sua solicitaçao de orçamento foi atualizado!</p>
<p>
  <strong>Cliente: </strong>{{client}}<br/>
  <strong>Endereço: </strong> {{address}}<br/>
  <strong>Velocidade desejada: </strong> {{velocity}} <br/>
  <strong>Atualizado por: </strong>{{update_for}}<br/>
  <strong>Status novo: </strong> {{status }}


</p>
