<strong>
  Prezado, {{ user }}.
</strong>
<p>Um novo orçamento foi solicitado!</p>
<p>
  <strong>Solicitado por: </strong> {{ requestingUser }} <br/>
  <strong>Cliente: </strong>{{ client }}<br />
  <strong>Endereço: </strong> {{address}}<br />
  <strong>Velocidade desejada: </strong> {{velocity}} <br />
  <strong>Status: </strong> {{status }}

</p>
