<strong>
  Olá, {{ user }}.
</strong>
<p>Um novo orçamento foi criado e vinculado a você!</p>
<p>
  <strong>Cliente: </strong>{{client}}<br />
  <strong>Endereço: </strong> {{address}}<br />
  <strong>Velocidade desejada: </strong> {{velocity}} <br />
  <strong>Criado por: </strong>{{created_for}}<br />
  <strong>Status:</strong> {{status}}


</p>
