<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
      <style>
         @media print{

         html, body, .page {
         height: 100%;
         padding: 10px;
         }
         .header{
         width: 100%;
         display: -webkit-box;
         display: -moz-box;
         display: -ms-flexbox;
         display: -webkit-flex;
         display: flex;
         -webkit-box-direction: normal;
         -moz-box-direction: normal;
         -webkit-box-orient: horizontal;
         -moz-box-orient: horizontal;
         -webkit-flex-direction: row;
         -ms-flex-direction: row;
         flex-direction: row;
         -webkit-flex-wrap: wrap;
         -ms-flex-wrap: wrap;
         flex-wrap: wrap;
         -webkit-box-pack: justify;
         -moz-box-pack: justify;
         -webkit-justify-content: space-between;
         -ms-flex-pack: justify;
         justify-content: space-between;
         -webkit-align-content: center;
         -ms-flex-line-pack: center;
         align-content: center;
         -webkit-box-align: center;
         -moz-box-align: center;
         -webkit-align-items: center;
         -ms-flex-align: center;
         align-items: center;
         }
         footer{
         text-align: left;
         font-size: 0.6rem;
         display: block;
         position: fixed;
         bottom: 10px;
         }
         .logo img{
         width: 120px;
         }
         .description p{
         color: #6c6d70;
         text-align: end;
         font-size: 0.6rem;
         }
         .client_name{
         font-size: 0.8rem;
         color: white;
         margin-top: 10px;
         text-align: center;
         background: #6c6d70;
         padding: 2px 0px;
         }
         .client_address{
         font-size: 0.8rem;
         color: #6c6d70;
         text-align: center;
         padding: 6px 0px;
         text-transform: capitalize;
         }
         table {
         margin-top: 30px;
         width: 100%;
         font-size: 0.6rem;
         text-align: center;
         }
         th {
         text-align: left;
         }
         table, th, td {
         border: 1.3px solid #6c6d70;
         padding: 3px;
         color: #6c6d70;
         }
         thead tr th {
         background: #efefef;
         text-align: center;
         }
         tbody tr td {
         padding: 5px 3px;
         }

         }
      </style>
      <title>Document</title>
   </head>
   <body>
      <div class="header justify-between">
         <div class="logo">
            <img src="https://www.itanetbandalarga.com.br/img/logo-itanet.png">
         </div>
         <div class="description">
            <p>
               Rio de Janeiro- RJ, <%= data.current_date %><br/>
               Empresa: Fiber Vox Telecomunicações<br/>
               Endereço: Rua Antunes Maciel, 4999, <br/>
               São Cristóvão - Rio de Janeiro - RJ CEP: 20940-010<br />
               CNPJ: 24.492.300/0001-01<br/>
               Telefone: (21) 3785 7000<br/>
               www.itanet.com.br<br/>
            </p>
         </div>
      </div>
      <div class="client_name">
         <b>ORÇAMENTO - <%= data.client.name %></b>
      </div>
      <div class="client_address">
         <b><%= data.address.label %></b>
      </div>
      <div>
         <table>
            <thead>
               <tr>
                  <th width="5%">ITEM</th>
                  <th>UN</th>
                  <th width="6%">QUANTIDADE</th>
                  <th>DESCRIÇÃO DO SERVIÇO</th>
                  <th>VALOR</th>
                  <th>INSTALAÇÃO</th>
                  <th>TEMPO DE <br/>CONTRATO</th>
               </tr>
            </thead>
            <tbody>
               <% if(data.itens.length > 0){ %>
               <% data.itens.forEach((item,i) => { %>
               <tr>
                  <td><%= i+1 %></td>
                  <td><%= item.unit %></td>
                  <td><%= item.amount %></td>
                  <td><%= item.description %></td>
                  <td><%= (item.unit_value) ? (item.unit_value === '0.00' ? '-' :  item.unit_value+' R$' ) : '-' %></td>
                  <td><%= (item.instalation_value) ? (item.instalation_value === '0.00' ? '-' :  item.instalation_value+' R$' ) : '-' %></td>
                  <td><%= (item.contract_time) ? item.contract_time: '-' %></td>
               </tr>
               <%  }); %>
               <% } %>
            </tbody>
         </table>
      </div>
   </body>
   <footer>
      <p>
         Validade do Orçamento: 10 dias.<br/>
         Prazo de Instalação: Até 30 dias.<br/>
         Valor Mensal: Parcelas fixas de acordo com a data de vencimento.
      </p>
   </footer>
</html>
