<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <style>
      html{
        margin: 20px;
      }
      header{
      color: #4b555e;
      text-align: end;
      font-size: 8px;
      display: flex;
      justify-content:space-between;
      align-items: center;


      }
      footer{
          font-size: 11px;
           position: fixed;
           bottom: 20px;
           left: 20px;
          right: 20px;

      }
      header img{
        width: 160px;
      }
       .client_name{
        font-size: 16px;
        color: white;
        margin-top: 40px;
        text-align: center;
        background: gray;
        padding: 6px 0px;
      }
      .client_address{
        font-size: 16px;
        color: gray;
        text-align: center;
        padding: 6px 0px;
        text-transform: capitalize;
      }
      table {
            margin-top: 30px;
            width: 100%;
            font-size: 11px;
        }
        th {
            text-align: left;
        }
    </style>
  <title>Document</title>
</head>

<body>
<header>
  <img src="https://www.itanetbandalarga.com.br/img/logo-itanet.png">
  <p><b>
    Rio de Janeiro- RJ, <%= data.current_date %><br/>
    Empresa: Fiber Vox Telecomunicações<br/>
    Endereço: Rua Antunes Maciel, 4999, <br/>
    São Cristóvão - Rio de Janeiro - RJ CEP: 20940-010<br />
    CNPJ: 24.492.300/0001-01<br/>
    Telefone: (21) 3785 7000<br/>
    www.itanet.com.br<br/></b>
  </p>
</header>
<div class="client_name">
  <b>ORÇAMENTO - <%= data.client.name %></b>
</div>
<div class="client_address">
  <b><%= data.address.label %></b>
</div>
<div>
    <table>
      <thead>
        <tr>
          <th>ITEM</th>
          <th>UN</th>
          <th>QUANTIDADE</th>
          <th>DESCRIÃO DO SERVIÇO</th>
          <th>VALOR</th>
          <th>INSTALAÇÃO</th>
          <th>TEMPO DE CONTRATO</th>

        </tr>
      </thead>
      <tbody>
      <% if(data.itens.length > 0){ %>

        <% data.itens.forEach((item,i) => { %>
          <tr>
            <td><%= i+1 %></td>
             <td><%= item.unit %></td>
             <td><%= item.amount %></td>
             <td><%= item.description %></td>
              <td><%= (item.unit_value) ? item.unit_value+' R$' : '-' %></td>
              <td><%= (item.instalation_value) ? item.instalation_value+' R$' : '-' %></td>
              <td><%= (item.contract_time) ? item.contract_time: '-' %></td>
          </tr>
        <%  }); %>
      <% } %>
      </tbody>
    </table>
</div>
</body>
<footer>
  <p>
    Validade do Orçamento: 10 dias.<br/>
    Prazo de Instalação: Até 30 dias.<br/>
    Valor Mensal: Parcelas fixas de acordo com a data de vencimento.
  </p>
</footer>
</html>
